:host {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  border: 1px solid #ddd;
  cursor: text;
  box-sizing: border-box;
  font-family: Sans-Serif;
}

* {
  outline: none;
}

.tags-container {
  border: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 0 10px;
}

.tag {
  background-color: #eee;
  border-radius: 4px;
  color: #333;
  cursor: default;
  display: inline-block;
  flex-shrink: 0;
  font-size: 14px;
  line-height: 22px;
  margin: 2px 5px 2px 0;
  padding: 0 4px;

  button {
    cursor: pointer;
    border: none;
    background: transparent;
    color: #aaa;
    font-size: 14px;
    height: 20px;
    line-height: 20px;
    padding: 0px;

    &:hover {
      color: #555;
    }
  }
}

input {
  height: 22px;
  line-height: 22px;
  font-size: 14px;
  flex: 1 0 50px;
  border: none;
  margin: 2px 6px !important;
}

.blink {
  -webkit-animation: pulse 2s ease-out 1 alternate; 
  -moz-animation:    pulse 2s ease-out 1 alternate; 
  -o-animation:      pulse 2s ease-out 1 alternate;
  animation:         pulse 2s ease-out 1 alternate; 
}
@-webkit-keyframes pulse {
  0% {
    background: rgb(43, 179, 122);
  }
  10% {
    background: rgb(43, 179, 122);
  }
  50% {
    background-color: #eee;
  }
}
@keyframes pulse {
  0% {
    background: rgb(43, 179, 122);
  }
  10% {
    background: rgb(43, 179, 122);
  }
  50% {
    background-color: #eee;
  }
}
